<td>{{article.description}}</td>
<td>{{article.notes}}</td>
<td>{{article.createdAt}}</td>
<td>
  {{#x-select value=article.state}}
    {{#each articleStates as |state|}}
      {{#x-option value=state}}{{state}}{{/x-option}}
    {{/each}}
  {{/x-select}}

  {{#if article.isSaving}}
    Saving ...
  {{else if article.hasDirtyAttributes}}
    <button {{action "saveArticle" article}}>Save</button>
  {{/if}}
</td>