<table class="friends-table primary">
  <thead>
    <tr>
      <th {{action "setSortBy" "firstName"}}>
        Named
        {{#if (and (eq sortBy "firstName") (eq sortAscending true))}}&darr;{{/if}}
        {{#if (and (eq sortBy "firstName") (eq sortAscending false))}}&uarr;{{/if}}
      </th>
      <th {{action "setSortBy" "totalArticles"}}>
        Articles
        {{#if (and (eq sortBy "totalArticles") (eq sortAscending true)) }}&darr;{{/if}}
        {{#if (and (eq sortBy "totalArticles") (eq sortAscending false)) }}&uarr;{{/if}}
        </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |friend|}}
    <tr>
      <td>{{link-to friend.fullName "articles" friend}}</td>
      <td>{{friend.totalArticles}}</td>
      <td>
        {{link-to "Lend" "articles.new" friend}} |
        <a href="#" {{action "delete" friend}}>Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>