<p>
  {{#link-to 'friends'}}&lt; Back{{/link-to}} |
  {{link-to "Edit" "friends.edit" model}} |
  <a href="#" {{action "delete" model}}>Delete</a>
</p>

<ul>
	<li>First Name: {{model.firstName}}</li>
	<li>Last Name: {{model.lastName}}</li>
	<li>Email: {{model.email}}</li>
	<li>twitter: {{model.twitter}}</li>
</ul>